.title {
  text-align: center;
  font-size: 30px;
  -webkit-text-shadow: 3px 2px 6px rgba(26, 58, 240, 0.3);
  -moz-text-shadow: 3px 2px 6px rgba(26, 58, 240, 0.3);
  text-shadow: 3px 2px 6px rgba(26, 58, 240, 0.3);
}
